html, body {
    margin: 0;
    padding: 0;
}

.header {

    margin: auto;
}

.header-content {
    display: flex;
    border-bottom: 1px solid black;
    height: 100px;

}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;


}

.logo-container img {
    display: block;
    height: 80%;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* Reihenfolge:
    margin
    boarder
    padding
    width
    height
    font-size
    line-height
    color
    background-color

     */
}

.main {
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #025B62;

}

.page-container {
    max-width: 1024px;
    margin: auto;

}

.main-content {
    display: flex;
    align-items: center;
    border: 2px solid gray;
    background-color: white;

}

.main-content + .main-content {
    margin-top: 2rem;
}

.img-container {
    padding: 1rem 2rem;
    width: 45%;
}

.img-container img {
    display: block;
    width: 100%;
}

.text-content-container {

}

.text-container {
    padding: 1rem 2rem;
    width: 55%;

}

.page-footer {
    display: flex;
    border-top: 1px solid black;
    align-items: center;
    height: 100px;
}

.page-footer div {
    width: 100%;
}


.page-footer div:last-child{
    text-align: right;
}